#pizarra-basica {
  width: 2000px;
  height: 2000px; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #336633;
  overflow: auto;
  margin: 0;
  padding: 0; }

/*Verificar donde se usa*/
.grid {
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -1; }

.hide {
  display: none !important; }

.TopBar {
  background-color: buttonface;
  display: flex;
  flex-flow: row;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  /* align-items: flex-end; */
  /* flex-flow: row; */
  z-index: 2;
  /* Space between groups */ }
  .TopBar .display {
    position: fixed;
    width: 100%;
    display: block;
    left: 0;
    bottom: 3em;
    text-align: center; }
    .TopBar .display > div {
      background-color: black;
      color: white;
      display: inline;
      font-size: 1.5em;
      padding: .25em .5em; }
  .TopBar ul.menu {
    background-color: buttonface;
    position: absolute;
    list-style: none;
    padding: .1em .1em;
    right: 2em;
    top: 2em;
    border: 1px solid #eeeeee;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    color: gray; }
    .TopBar ul.menu li {
      padding: .2em;
      margin: .2em;
      border: 1px solid #eeeeee;
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;
      cursor: pointer; }
    .TopBar ul.menu li:hover {
      border: 1px solid gray; }
  .TopBar div {
    display: flex; }
    .TopBar div input {
      margin: .1em;
      padding: .3em;
      display: block;
      border-radius: 5px;
      border: 1px solid gray; }
  .TopBar svg {
    color: gray;
    margin: .1em;
    padding: .3em; }
    .TopBar svg.btn {
      border: 1px solid gray;
      border-radius: 5px; }
    .TopBar svg.active {
      background-color: gray;
      color: buttonface; }
    .TopBar svg polygon {
      stroke: gray; }
  .TopBar #FaVectorSquare, .TopBar #FaRegCircle, .TopBar #AiOutlineNodeIndex, .TopBar #GrCursor {
    border: 1px solid buttonface; }
  .TopBar .groupedBtn {
    /* border-left: 6px solid buttonface; */
    border-right: 6px solid buttonface;
    display: flex; }

.points .p1, .points .p2, .points .p3, .points .p4 {
  position: absolute;
  width: .5em;
  height: .5em;
  margin: -.25em;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background-color: #00ff00;
  z-index: 101; }

.points .p2 {
  background-color: #ffff00; }

.points .p3 {
  background-color: #00ff00; }

.points .p4 {
  background-color: #66ccff;
  left: -100px;
  top: -100px; }

.KeyBoard {
  background-color: buttonface;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: .2em;
  padding-bottom: .2em;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray; }
  .KeyBoard .btn-name {
    padding: 0em;
    text-align: center;
    user-select: none;
    color: black;
    font-size: .5em;
    /* display: none; */ }
  .KeyBoard .btn-content, .KeyBoard .btn-menu {
    border: 1px solid gray;
    /* border-radius: 50%; */
    margin: .1em;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    user-select: none;
    color: gray;
    background-color: white;
    line-height: 1.3em;
    font-weight: bolder; }

#pizarra-basica > svg text {
  user-select: none; }

.display {
  position: fixed;
  width: 100%;
  display: block;
  left: 0;
  bottom: 3em;
  text-align: center; }
  .display > div {
    background-color: black;
    color: white;
    display: inline;
    font-size: 1.5em;
    padding: .25em .5em; }

.monitor {
  position: fixed;
  background-color: buttonface;
  max-width: 400px;
  top: 2em;
  right: 2px;
  padding: .5em; }
  .monitor div {
    display: grid;
    grid-template-columns: 100%; }
